:root{
    --primary-color:#18dfc4cc;
    --secondary-color:#1f10f38f;
    --dark-color1:#ffffff;
    --white-color:#ffffff;
    --transition:0.4s ease-in-out;
}
:after,:before{
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
}

body{
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    background-color: var(--dark-color1);
    color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif, sans-serif;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6{
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-weight: bold;
}
a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
} 
.hide {
    display: none!important;
}
.as_padderTop80{
    padding-top: 80px;
}
.as_padderBottom80{
    padding-bottom: 80px;
}
.as_heading{
    font-size: 36px;
    text-transform: capitalize;
    margin: 0;
    padding-bottom: 23px;
    position: relative;
    margin:-8px 0 20px;
}
.as_heading.as_heading_center:after{
    left: 50%;
    transform: translateX(-50%);
}
.as_heading:after{
    position: absolute;
    content: '';
    width: 100px;
    border-bottom: 3px solid var(--secondary-color);
    left: 0;
    bottom: 0;
}
.as_verticle_center{
    display: flex;
    align-items: center;
}
.as_sign_ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.as_sign_ul li{
    margin-top: 40px;
}
.as_sign_box {
    background-color: #0e344d;
    max-width: 230px;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    transition: all 0.2s linear;
}
.as_sign_box >a{
    display: flex;
    align-items: center;
}
.as_sign_box .as_sign {
    background-color: #07273c;
    height: 80px;
    width: 54px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 38px;
    position: relative;
    transition: all 0.2s linear;
}
.as_sign_box p {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
}
.as_sign_box:after,.as_sign_box:before{
    content: '';
    position: absolute;
    left: 100%; 
    top: 0;
    bottom: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 20px solid #0e344d; 
} 

.as_sign_box:before{
    left:auto;
    right: 100%;
    border-left: none;
    border-right: 20px solid #0e344d;

}
.as_sign_box .as_sign:after,.as_sign_box .as_sign:before{
    content: '';
    position: absolute;
    left: 100%; 
    top: 0;
    bottom: 0;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 18px solid #07273c;
 
} 
.as_sign_box:hover {
    background-color: var(--secondary-color);
}
.as_sign_box:hover:after{
    border-left-color: var(--secondary-color);
}
.as_sign_box:hover:before{
    border-right-color: var(--secondary-color);
}
.as_sign_box:hover .as_sign {
    background-color: #07273c;
}
.as_sign_box:hover .as_sign:after{
    border-left-color: #07273c;
}
.as_sign_box:hover .as_sign:before{
    border-right-color: #07273c;
}
.as_sign_box .as_sign:before{
    left:auto; 
    right: 100%; 
    border-left: none; 
    border-right: 18px solid #07273c;
}
.as_sign_ul li:first-child,.as_sign_ul li:last-child  {
    transform: translateX(200px);
}
.as_sign_ul li:nth-child(2), .as_sign_ul li:nth-child(5) {
    transform: translateX(100px);
    z-index: 1;
}
.as_sign_ul.as_sign_ul_right li:first-child,.as_sign_ul.as_sign_ul_right li:last-child  {
    transform: translateX(-200px);
}
.as_sign_ul.as_sign_ul_right li:nth-child(2),.as_sign_ul.as_sign_ul_right li:nth-child(5) {
    transform: translateX(-100px);
}
.as_sign_img img {
    animation: spin 9s infinite linear;
    -webkit-animation: spin 9s infinite linear;
    -moz-animation: spin 9s infinite linear;
    width: 100%;
}
.as_sign_ul_right .as_sign_box {
    margin: 40px 0 0 auto;
}
@media (max-width:991px){
    .as_sign_ul li:first-child, .as_sign_ul li:last-child,.as_sign_ul li:nth-child(2), .as_sign_ul li:nth-child(5),.as_sign_ul.as_sign_ul_right li:first-child, .as_sign_ul.as_sign_ul_right li:last-child ,  .as_sign_ul.as_sign_ul_right li:nth-child(2), .as_sign_ul.as_sign_ul_right li:nth-child(5) {
        transform: translateX(0);
    }
}
@media (max-width:767px){
    .as_sign_box {
        margin: 40;
        margin: 40px auto 0 !important;
    }
}